{% extends 'base.html.twig' %}

{% block title %}Event Details - {{ event.title }}{% endblock %}

{% block body %}
    <div class="row mb-3">
        <div class="col-12">
            <div class="card">
                <img class="card-img-top" src="{{asset('uploads/images/' ~ event.imageFilename) }}" class="img-fluid" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        {{ event.title }}
                    </h4>
                    <p class="card-text">{{ event.description }}</p>
                    <div class="row">
                        <p class="card-text col-xs-12 col-sm-6 col-md-4"><span class="text-uppercase text-muted small badge">venue: </span>{{ event.venue }}</p>
                        <p class="card-text col-xs-12 col-sm-6 col-md-4"><span class="text-uppercase text-muted small badge">category: </span>{{ event.category }}</p>
                        <p class="card-text col-xs-12 col-sm-6 col-md-4"><span class="text-uppercase text-muted small badge">association: </span>{{ event.association }}</p>
                        <p class="card-text col-xs-12 col-sm-6 col-md-4"><span class="text-uppercase text-muted small badge">start: </span>{{ event.start ? event.start|date('Y-m-d') : '' }}</p>
                        <p class="card-text col-xs-12 col-sm-6 col-md-4"><span class="text-uppercase text-muted small badge">end: </span>{{ event.end ? event.end|date('Y-m-d') : '' }}</p>
                    </div>
                </div>
                <a class="card-footer bg-warning btn btn-sm btn-warning" href="{{ path('event_edit', {'id': event.id}) }}">edit</a>
            </div>
        </div>
    </div>
    {% include "event/snippets/related.html.twig" %}

{% endblock %}
