{{ form_start(form, {'attr': {'class': 'row'}}) }}
    {{ form_row(form.color, {'row_attr': {'class': 'input-group col-2'}}) }}
    {{ form_row(form.name, {'row_attr': {'class': 'input-group col-10'}}) }}
    {{ form_row(form.description, {'row_attr': {'class': 'col-12'}}) }}
    <button class="mt-3 btn btn-lg btn-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
