{% extends 'base.html.twig' %}

{% block title %}Event Categories{% endblock %}

{% block body %}
    {% include "generic/page-header.html.twig" with {
        pagetitle: 'Event Categories',
        actions: [{
            name: 'category_new',
            label: 'add new category',
            class: 'success',
        },{
            name: 'event_new',
            label: 'add new event',
            class: 'info',
        }]
    } %}
    <div class="row">
        <div class="col-12">
            <table class="table table-sm table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Color</th>
                        <th>Events</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td style="background-color: {{category.color|default('purple')}}80">{{ category.color }}</td>
                        <td>{{ category.events.count }}</td>
                        <td class="bt-group">
                            <a class="btn btn-sm btn-info" href="{{ path('category_show', {'id': category.id}) }}">show</a>
                            <a class="btn btn-sm btn-warning" href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
