{# {{dump()}} #}
{% set time = "now"|date("U") %}
{#
time can be any string acceptable by http://www.php.net/strtotime, the
template will output that time's month.

If you don't want to pass in a date you can set time like this:
{% set time = "now"|date("U") %}
{% set time = "December 2012"|date("U") %}

How ever you want to output items onto the calendar is a different issue,
but I'd assume pushing everything into an array numerically indexed by that day:
$days = array(1=>array('Something on the first'),31=>array('Halloween'));

#}
<div id="calendar">
    <table class="table table-bordered table-responsive-sm">
        <thead>
            <tr>
                <th colspan="5" class="cal-row-fluid cal-row-head">
                    {{ currentMonth is defined ? currentMonth|date('F Y') : time|date('F Y') }} Events
                </th>
                <th colspan="2" class="cal-row-fluid cal-row-head">
                    <form action="{{path('monthly_view')}}" method="get" class="form-inline">
                        <div class="input-group">
                            <label for="monthly_view" class="input-group-prepend input-group-text">month:</label>
                            <input class="form-control" type="month" name="monthly_view" id="monthlyView">
                            <button type="submit" class="btn btn-primary input-group-append">Go</button>
                        </div>
                    </form>
                </th>
            </tr>
            <tr>
                <th class="cal-cell1" width="12%">Sunday</th>
                <th class="cal-cell2" width="15%">Monday</th>
                <th class="cal-cell3" width="15%">Tuesday</th>
                <th class="cal-cell4" width="16%">Wednesday</th>
                <th class="cal-cell5" width="15%">Thursday</th>
                <th class="cal-cell6" width="15%">Friday</th>
                <th class="cal-cell7" width="12%">Saturday</th>
            </tr>
        </thead>
        <tbody class="cal-month-box">
            <tr>
            {% set daysInMonth = time|date('t') %}
            {% set startDow = time|date('F 1\\s\\t Y')|date('w') %}
            {% set dow = startDow %}
            {% for day in range(1,daysInMonth) %}
                {% if loop.first and startDow != 0 %}
                    <td colspan="{{ startDow }}"></td>
                {% endif %}
                <td class="cal-cell{{loop.index}} cal-cell">
                    <div>
                        <div><span class="small">{{ day }}</span></div>
                        <div>
                            <ul class="list-inline">
                                {# <h1>{{events|length}}</h1> #}
                                {% for event in events %}
                                    {% for date in event.eventDates %}
                                        {% if date.eventDate|date('j') == day %}
                                            {# <h1>{{dump(event)}}</h1> #}
                                            <div class="list-inline-item" id="calAcc{{loop.index}}" role="tablist" aria-multiselectable="true">
                                                <div class="card" style="background: {{event.category ? event.category.color }}5a;">
                                                    <a data-toggle="collapse" data-parent="#calAcc{{loop.index}}" href="#section1Content{{event.id}}" aria-expanded="true" aria-controls="section1Content{{event.id}}">
                                                        <div class="card-header" role="tab" id="section1Header{{event.id}}">
                                                            <span class="mb-0">
                                                                <i class="fa fa-circle-o" aria-hidden="true"></i>
                                                            </span>
                                                        </div>
                                                    </a>
                                                    <div id="section1Content{{event.id}}" class="collapse in" role="tabpanel" aria-labelledby="section1Header{{event.id}}">
                                                        <div class="card-body bg-light">
                                                            {# {{event.title}} #}
                                                            <a class="small text-dark" href="{{path('event_show',{id: event.id})}}">{{ event.title|raw }}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {# {{ dump() }} #}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </td>
                {% if loop.last and dow != 6 %}
                    <td colspan="{{ 6 - dow }}">&nbsp;</td>
                {% endif %}
                {% if dow == 6 %}
                    {% set dow = 0 %}
                </tr>
                <tr>
                {% else %}
                    {% set dow = dow + 1 %}
                {% endif %}
            {% endfor %}
            </tr>
        </tbody>
    </table>
</div>