{# <pre>
    {{ dump(events) }}
</pre> #}
{% for eventItems in events %}
    {% if eventItems is not empty %}
        {% if eventItems.category is defined %}
            {% set category = eventItems.category %}
            <div class="row">
                <div class="col mb-2 py-1 border-bottom">
                    <button class="btn btn-block">
                        <span class="float-left">{{category.name}}</span>
                        <a class="badge badge-primary float-right" href="{{path('category_show', {id: category.id})}}">view all events</a>
                    </button>
                </div>
            </div>
        {% endif %}
        {% if eventItems.association is defined %}
            {% set association = eventItems.association %}
            <div class="row">
                <div class="col mb-2 py-1 border-bottom bg-dark">
                    <div class="btn btn-block">
                        <div class="float-left">
                            <span class="lead">{{association.name}}</span>
                        </div>
                        <a role="button" class="btn btn-dark btn-sm float-right" href="{{path('association_show', {id: association.id})}}">view all events organized by {{association.name}}</a>
                    </div>
                </div>
            </div>
        {% endif %}
        {% set events = eventItems.events %}
        {% include "event/snippets/cards.html.twig" %}
    {% endif %}
{% endfor %}
