<div class="card-columns d-none d-md-block">
    {% set time = "now"|date("U") %}
    {% for event in events %}
        <div class="card">
            {% if (event.imageFilename) %}
                <img class="img-fluid" src="{{cloudinary_url(event.imageFilename,{'width': 550}) }}" alt="{{event.title ~ ' ' ~ event.imageFilename}}">
            {% endif %}
            <div class="card-body p-2">
                <h4 class="small">
                    <a class="lead text-justify" href="{{ path('event_show', {'id': event.id}) }}">
                    {{ event.title }}
                    </a>
                </h4>
                {% set startDate = date() %}
                {% set endDate = date() %}
                {% set allDayEvent = false %}
                {% for date in event.eventDates %}
                    {% set startDate = date.eventDate %}
                    {% set time = date.eventDate %}
                    {% set endDate = date.eventDate %}
                    {% set allDayEvent = date.allday %}
                {% endfor %}
                {% set dateDiff = startDate.diff(endDate)|date %}
                <p class="card-text text-muted small">A {{ dateDiff > 0 ? 'full day' : ''}} event starting on {{ startDate|date('F j Y') }}. {{event.venue}} is the venue for this event.</p>
                <span class="badge badge-pill badge-warning">{{startDate < date() ? 'Expired' : null}}</span>
                {% if event.category %}
                    <a href="{{path('category_show',{id:event.category.id})}}">
                        <p class='badge badge-pill p-2 text-light text-sm float-right' style="background: {{event.category ? event.category.color }};">{{ event.category }}</p>
                    </a>
                {% endif %}
            </div>
            <a class="card-footer bg-success btn btn-block btn-info btn-sm" href="{{ path('event_show', {'id': event.id}) }}">view details</a>
        </div>
    {% else %}
        <div class="col">
            <p>no records found</p>
        </div>
    {% endfor %}
</div>
<div class="col d-block d-md-none">
    {% include "event/snippets/list-xs.html.twig" %}
</div>