<div class="card-columns col-sm-9 no-gutters">
    {% for event in events %}
    {# <div class="col-sm-6"> #}
        <div class="card">
            {% if (event.imageFilename) %}
                <img class="img-fluid" src="{{asset('uploads/images/' ~ event.imageFilename) }}" class="img-fluid" alt="">
            {% endif %}
            <div class="card-body">
                <h4 class="card-title">
                    <a class="lead" href="{{ path('event_show', {'id': event.id}) }}">
                    {{ event.title }}
                    </a>
                    {% if event.category %}
                        {# <a href="{{path('category_show',{id:event.category.id})}}"> #}
                            <span class='badge badge-info p-2 badge-sm float-right' style="background: {{event.category ? event.category.color }};">{{ event.category }}</span>
                        {# </a> #}
                    {% endif %}
                </h4>
                <p class="d-none d-md-block card-text">{{ event.description|length > 300 ? event.description|slice(0, 300) ~ '...': event.description }}</p>
                <p class="d-none d-md-block card-text">{{ event.venue }}</p>
                <p class="d-none d-md-block card-text">{{ event.start ? event.start|date('F j Y') : '' }}</p>
                <p class="d-none d-md-block card-text">{{ event.end ? event.end|date('F j Y') : '' }}</p>
            </div>
            <a class="card-footer bg-primary btn btn-block btn-info btn-sm" href="{{ path('event_show', {'id': event.id}) }}">view details</a>
        </div>
    {# </div> #}
    {% else %}
        <div class="col">
            <p>no records found</p>
        </div>
    {% endfor %}
</div>
